# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ----------------------------
# Virtual Environment
# ----------------------------
myenv/
venv/
env/

# ----------------------------
# Environment variables
# ----------------------------
.env

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Data files (IMPORTANT)
# ----------------------------
*.csv
*.json
*.xlsx
*.xls
*.parquet

# ----------------------------
# Audio / Video files
# ----------------------------
*.mp3
*.wav
*.m4a
*.mp4
*.avi

# ----------------------------
# Storage (VERY IMPORTANT)
# ----------------------------
storage/
uploads/

# ----------------------------
# Model cache (Whisper)
# ----------------------------
.cache/